# Keys
*.pem
*.env
*.env.*
!*.env.sample
*.aws
*.crt
*.key

# Build
**/dist/
**/build/
**/output/
**/tmp/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs
.idea/
.vscode/
*.iml
